@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#Header{
   
    width: 1440px;
    height: 56px;
    padding: 0px 24px 0px 24px;
    display: flex;
    position: relative;
   
}

.navegacao{
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    
    bottom: 75%;
    border: 1.5px solid #000000;
    border-radius: 15px;
    height: 0px;
    width: 25px;
    left: 30px;
    top: 32%;
}
.navegacao2{
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    bottom: 75%;
    border: 1.5px solid #000000;
    border-radius: 15px;
    height: 0px;
    width: 25px;
    left: 30px;
    top: 46%;
    
    

}

.navegacao3{
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    bottom: 75%;
    border: 1.5px solid #000000;
    border-radius: 15px;
    height: 0px;
    width: 25px;
    left: 30px;
    top: 60%;
    
}
.youtube{
    position: absolute;
    width: 120px;
    height: 50px;
    left: 150px;
    top: 2px;
}

#procurarvideo{
    box-sizing: border-box;
    position: absolute;
    width: 348px;
    height: 40px;
    left: 526px;
    top: 8px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;

}
#botaolupa{
    box-sizing: border-box;
    position: absolute;
    width: 57px;
    height: 40px;
    left: 873px;
    top: 8px;
    background: #F8F8F8;
    border: 1px solid #CCCCCC;
}
.lupa{
    position: absolute;
    left: 33%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    
   
    
}
.ponteiro{
    position: absolute;
    left: 58.5%;
    top: 65%;
}
.Direita{
    position: absolute;
    height: 34px;
    width: 130px;
    left: 1320px;
    top: 11px;
    border-radius: 0px;

}
.videoprincipal{
    position: absolute;
    top: 95px;
    left: 88px;
    right: 413px;
    bottom: 413px;
}
.textobaixovideo{
    position: absolute;
    font-weight: 700;
    font-size: large;
    line-height: 25px;
    color: rgba(0, 0, 0, 1);
    width: 1000px;
    top: 635px;
    left: 88px;

}
.AcoesVideos{
    position: absolute;
    height: 65px;
    width: 902px;
    top: 690px;
    left: 88px;

}
.Visualizacaodovideo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 650;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    width: 450px;
    height: 16px;
    position: absolute;
    top: 745px;
    left: 88px;

}
.Textodescritivodovideo{
    width: 510px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height:  17px;
    position: absolute;
    top: 780px;
    left: 88px;
    color:  #515151;
    
    
}

.VideosLaterais{
    object-fit: cover;
}
#Lateral{
    display: flex;
    width: 250px;
    height: 89px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    word-wrap: break-word;
    
}
.MenuLateral{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 16px;
    position: absolute;
    width: 160px;
    height: 938px;
    left: 1077px;
    top: 95px;


}
.TextoUnimed{
    position: absolute;
    width: 250px;
    height: 89px;
    left: 1250px;
    bottom:862px;
    
   
}
.CabecalhoUnimed{
    width: 285px;
    height: 32px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    line-height: 21px;

}
.NomeDoCanal{
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: 43px;
    bottom: 0px;
    color: rgba(81, 81, 81, 1);
    
}
.VisualizacaoDoCanal{
    position: absolute;
    width: 180px;
    height: 28px;
    bottom: 0;
    top: 58px;
    font-weight: 400;
    color: rgba(81, 81, 81, 1);
    word-wrap: break-word;

}
.TextoScrum{
    position: absolute;
    width: 250px;
    height: 89px;
    left: 1250px;
    bottom:730px;
    
    
   
}

.CabecalhoScrum{
    width: 285px;
    height: 32px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    line-height: 21px;
    position: absolute;
    bottom: 44px;

}
.NomeDoCanalScrum{
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: 1px;
    color: rgba(81, 81, 81, 1);
    
}
.VisualizacaoDoCanalScrum{
    position: absolute;
    width: 180px;
    height: 28px;
    bottom: 0;
    top: 22px;
    font-weight: 400;
    color: rgba(81, 81, 81, 1);
    word-wrap: break-word;
}

.TextoMachineLearning{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 250px;
    height: 89px;
    left: 1250px;
    bottom:630px;
    
   
}
.CabecalhoMachine{
    margin: 0;
    padding: 0;
    width: 285px;
    height: 32px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    line-height: 21px;

}
.NomeDoCanalMachine{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: 43px;
    bottom: 0px;
    color: rgba(81, 81, 81, 1);
    
}
.VisualizacaoDoCanalMachine{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 180px;
    height: 28px;
    bottom: 0;
    top: 58px;
    font-weight: 400;
    color: rgba(81, 81, 81, 1);
    word-wrap: break-word;

}

.TextoGlobalSkills{
    position: absolute;
    width: 250px;
    height: 89px;
    left: 1250px;
    bottom:520px;
    
   
}.CabecalhoGlobal{
    margin: 0;
    padding: 0;
    width: 285px;
    height: 32px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    line-height: 17px;

}
.NomeDoCanalGlobal{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: 38px;
    bottom: 0px;
    color: rgba(81, 81, 81, 1);
    
}
.VisualizacaoDoCanalGlobal{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 165px;
    height: 28px;
    bottom: 0;
    top: 55px;
    font-weight: 400;
    color: rgba(81, 81, 81, 1);
    word-wrap: break-word;

}

.TextoPhyton{
    position: absolute;
    width: 250px;
    height: 89px;
    left: 1250px;
    bottom:412px;
    
   
}
.TextoUnimed2{
    position: absolute;
    width: 250px;
    height: 89px;
    left: 1250px;
    bottom:862px;
}

.CabecalhoUnimed2{
    width: 285px;
    height: 32px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    line-height: 21px;
    position: absolute;
    top: 532px;

}
.NomeDoCanal2{
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: 573px;
    bottom: 0px;
    color: rgba(81, 81, 81, 1);
    
}
.VisualizacaoDoCanal2{
    position: absolute;
    width: 180px;
    height: 2px;
    bottom: 0;
    top: 588px;
    font-weight: 400;
    color: rgba(81, 81, 81, 1);
    word-wrap: break-word;

}
.TextoScrum2{
    position: absolute;
    width: 250px;
    height: 89px;
    left: 1250px;
    bottom:730px;
    
    
   
}

.CabecalhoScrum2{
    width: 285px;
    height: 32px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    line-height: 21px;
    position: absolute;
    bottom: 0px;
    top: 505px;

}
.NomeDoCanalScrum2{
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: 535px;
    color: rgba(81, 81, 81, 1);
    
}
.VisualizacaoDoCanalScrum2{
    position: absolute;
    width: 180px;
    height: 28px;
    bottom: 0;
    top: 555px;
    font-weight: 400;
    color: rgba(81, 81, 81, 1);
    word-wrap: break-word;
}
.TextoMachineLearning2{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 250px;
    height: 89px;
    left: 1250px;
    bottom:349px;
    
   
}
.CabecalhoMachine2{
    margin: 0;
    padding: 0;
    width: 285px;
    height: 320px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    line-height: 21px;
    position: absolute;
    top: 250px;

}
.NomeDoCanalMachine2{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: 292px;
    bottom: 0px;
    color: rgba(81, 81, 81, 1);
    
}
.VisualizacaoDoCanalMachine2{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 180px;
    height: 28px;
    bottom: 0;
    top: 308px;
    font-weight: 400;
    color: rgba(81, 81, 81, 1);
    word-wrap: break-word;

}
.TextoPhyton{
    position: absolute;
    width: 250px;
    height: 89px;
    left: 1250px;
    bottom:560px;
    
    
   
}
.CabecalhoPhyton{
    margin: 0;
    padding: 0;
    width: 285px;
    height: 320px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    line-height: 21px;
    position: absolute;
    top: 145px;

}
.NomeDoCanalPhyton{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: 187px;
    bottom: 0px;
    color: rgba(81, 81, 81, 1);
    
}
.VisualizacaoDoCanalPhyton{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 180px;
    height: 28px;
    bottom: 0;
    top: 203px;
    font-weight: 400;
    color: rgba(81, 81, 81, 1);
    word-wrap: break-word;

}
.TextoGlobalSkills2{
    position: absolute;
    width: 250px;
    height: 89px;
    left: 1250px;
    bottom:-10px;
    
   
}.CabecalhoGlobal2{
    margin: 0;
    padding: 0;
    width: 285px;
    height: 32px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    line-height: 17px;

}
.NomeDoCanalGlobal2{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: 38px;
    bottom: 0px;
    color: rgba(81, 81, 81, 1);
    
}
.VisualizacaoDoCanalGlobal2{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 165px;
    height: 28px;
    bottom: 0;
    top: 55px;
    font-weight: 400;
    color: rgba(81, 81, 81, 1);
    word-wrap: break-word;

}

